<!doctype html>
<html lang="en">

<head>
  <!--Fav icon -->
  {% load static %}
  <link rel="shortcut icon" type="image/png" href="{% static 'logo.jpg' %}" />
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Expensive to expenses!</title>
  <script type="text/javascript" src='{% static "js/details.js" %}'></script>
</head>

<body onload="checkEvent()">
  <div class="container my-5">
    <div class="container my-5 mx-5 px-5 py5">
      <div class="jumbotron">
        <table class="table">
          <caption>List of Events : Anand - The Imperfecto, Anil - As per discussion</caption>
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col" title="1500/-">Birthday</th>
              <th scope="col" title="700/-" >Job Anniversary</th>
              <th scope="col" title="1500/-">Marriage Anniversary</th>
              <th scope="col" title="Self/-">Kids Birthday</th>
              <th scope="col" title="1000/-">New Asset</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Aman</th>
              <td class="eventDate">2020-04-30&nbsp;<i id="unlock" class="fa fa-bookmark" aria-hidden="true"
                  style="color:green;display:none;"></i></td>
              <td class="eventDate">2020-11-07&nbsp;<i id="unlock" class="fa fa-bookmark" aria-hidden="false"
                  style="color:green;display:none;"></i></td>
              <td class="eventDate">N.A.&nbsp;<i id="unlock" class="fa fa-bookmark" aria-hidden="false"
                  style="color:green;display:none;"></i></td>
              <td class="eventDate">N.A.&nbsp;<i id="unlock" class="fa fa-bookmark" aria-hidden="false"
                  style="color:green;display:none;"></i></td>
              <td class="eventDate">N.A.&nbsp;<i id="unlock" class="fa fa-bookmark" aria-hidden="false"
                  style="color:green;display:none;"></i></td>
            </tr>
            <tr>
              <th scope="row">Anand</th>
              <td class="eventDate">2020-07-11&nbsp;<i id="unlock" class="fa fa-bookmark" aria-hidden="true"
                  style="color:green;display:none;"></i></td>
              <td class="eventDate">2020-05-17&nbsp;<i id="unlock" class="fa fa-bookmark" aria-hidden="false"
                  style="color:green;display:none;"></i></td>
              <td class="eventDate">2020-11-19&nbsp;<i id="unlock" class="fa fa-bookmark" aria-hidden="false"
                  style="color:green;display:none;"></i></td>
              <td class="eventDate">2020-11-27&nbsp;<i id="unlock" class="fa fa-bookmark" aria-hidden="false"
                  style="color:green;display:none;"></i></td>
              <td class="eventDate">N.A.&nbsp;<i id="unlock" class="fa fa-bookmark" aria-hidden="false"
                  style="color:green;display:none;"></i></td>
            </tr>
            <tr>
              <th scope="row">Anil</th>
              <td class="eventDate">2020-10-01&nbsp;<i id="unlock" class="fa fa-bookmark" aria-hidden="true"
                  style="color:green;display:none;"></i></td>
              <td class="eventDate">2020-01-11&nbsp;<i id="unlock" class="fa fa-bookmark" aria-hidden="false"
                  style="color:green;display:none;"></i></td>
              <td class="eventDate">2020-07-08&nbsp;<i id="unlock" class="fa fa-bookmark" aria-hidden="false"
                  style="color:green;display:none;"></i></td>
              <td class="eventDate">2020-06-15&nbsp;<i id="unlock" class="fa fa-bookmark" aria-hidden="false"
                  style="color:green;display:none;"></i></td>
              <td class="eventDate">N.A.&nbsp;<i id="unlock" class="fa fa-bookmark" aria-hidden="false"
                  style="color:green;display:none;"></i></td>
            </tr>
            <tr>
              <th scope="row">Prashant</th>
              <td class="eventDate">2020-10-30&nbsp;<i id="unlock" class="fa fa-bookmark" aria-hidden="true"
                  style="color:green;display:none;"></i></td>
              <td class="eventDate">2020-12-14&nbsp;<i id="unlock" class="fa fa-bookmark" aria-hidden="false"
                  style="color:green;display:none;"></i></td>
              <td class="eventDate">2020-06-22&nbsp;<i id="unlock" class="fa fa-bookmark" aria-hidden="false"
                  style="color:green;display:none;"></i></td>
              <td class="eventDate">N.A.&nbsp;<i id="unlock" class="fa fa-bookmark" aria-hidden="false"
                  style="color:green;display:none;"></i></td>
              <td class="eventDate">N.A.&nbsp;<i id="unlock" class="fa fa-bookmark" aria-hidden="false"
                  style="color:green;display:none;"></i></td>
            </tr>
            <tr>
              <th scope="row">Rahul</th>
              <td class="eventDate">2020-12-09&nbsp;<i id="unlock" class="fa fa-bookmark" aria-hidden="true"
                  style="color:green;display:none;"></i></td>
              <td class="eventDate">2020-02-11&nbsp;<i id="unlock" class="fa fa-bookmark" aria-hidden="false"
                  style="color:green;display:none;"></i><i class="fa fa-credit-card" aria-hidden="true"></i></td>
              <td class="eventDate">2020-01-27&nbsp;<i id="unlock" class="fa fa-bookmark" aria-hidden="false"
                  style="color:green;display:none;"></i></td>
              <td class="eventDate">N.A.&nbsp;<i id="unlock" class="fa fa-bookmark" aria-hidden="false"
                  style="color:green;display:none;"></i></td>
              <td class="eventDate">N.A.&nbsp;<i id="unlock" class="fa fa-bookmark" aria-hidden="false"
                  style="color:green;display:none;"></i></td>
            </tr>
            <tr>
              <th scope="row">Ravikant</th>
              <td class="eventDate">2020-01-01&nbsp;<i id="unlock" class="fa fa-bookmark" aria-hidden="true"
                  style="color:green;display:none;"></i></td>
              <td class="eventDate">2020-04-14&nbsp;<i id="unlock" class="fa fa-bookmark" aria-hidden="false"
                  style="color:green;display:none;"></i></td>
              <td class="eventDate">2020-11-24&nbsp;<i id="unlock" class="fa fa-bookmark" aria-hidden="false"
                  style="color:green;display:none;"></i></td>
              <td class="eventDate">2020-11-22&nbsp;<i id="unlock" class="fa fa-bookmark" aria-hidden="false"
                  style="color:green;display:none;"></i></td>
              <td class="eventDate">N.A.&nbsp;<i id="unlock" class="fa fa-bookmark" aria-hidden="false"
                  style="color:green;display:none;"></i></td>
            </tr>
            <tr>
              <th scope="row">Sharad</th>
              <td class="eventDate">2020-10-14&nbsp;<i id="unlock" class="fa fa-bookmark" aria-hidden="true"
                  style="color:green;display:none;"></i></td>
              <td class="eventDate">2020-12-01&nbsp;<i id="unlock" class="fa fa-bookmark" aria-hidden="false"
                  style="color:green;display:none;"></i></td>
              <td class="eventDate">2020-04-16&nbsp;<i id="unlock" class="fa fa-bookmark" aria-hidden="false"
                  style="color:green;display:none;"></i></td>
              <td class="eventDate">2020-04-15&nbsp;<i id="unlock" class="fa fa-bookmark" aria-hidden="false"
                  style="color:green;display:none;"></i></td>
              <td class="eventDate">N.A.&nbsp;<i id="unlock" class="fa fa-bookmark" aria-hidden="false"
                  style="color:green;display:none;"></i></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <!-- <i class="fa fa-credit-card" aria-hidden="true"></i> -->
</body>

</html>