<!doctype html>
<html lang="en">

<head>
  <!--Fav icon -->
  {% load static %}
  <link rel="shortcut icon" type="image/png" href="{% static 'logo.jpg' %}" />
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Expensive to expenses!</title>
  <script type="text/javascript" src='{% static "js/details.js" %}'></script>
</head>

<body onload="checkEvent()">
  <div class="container my-5">
    <div class="container my-5 mx-5 px-5 py5">
      <div class="jumbotron">
        <table class="table" id="events">
          <caption>List of Events :Anil - As per discussion</caption>
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col" title="1500/-">Birthday</th>
              <th scope="col" title="700/-" >Job Anniversary</th>
              <th scope="col" title="1500/-">Marriage Anniversary</th>
              <th scope="col" title="Self/-">Kids Birthday</th>
              <th scope="col" title="1000/-">New Asset</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Aman</th>
              <td class="eventDate" id="amBirth"></td>
              <td class="eventDate" id="amJob"></td>
              <td class="eventDate">N.A.&nbsp;<i id="unlock" class="fa fa-bookmark" aria-hidden="false"
                  style="color:green;display:none;"></i></td>
              <td class="eventDate">N.A.&nbsp;<i id="unlock" class="fa fa-bookmark" aria-hidden="false"
                  style="color:green;display:none;"></i></td>
              <td class="eventDate">N.A.&nbsp;<i id="unlock" class="fa fa-bookmark" aria-hidden="false"
                  style="color:green;display:none;"></i></td>
            </tr>
            <tr>
              <th scope="row">Anand</th>
              <td class="eventDate" id="anBirth"></td>
              <td class="eventDate" id="anJob"></td>
              <td class="eventDate" id="anMar"></td>
              <td class="eventDate" id="anKid"></td>
              <td class="eventDate">N.A.&nbsp;<i id="unlock" class="fa fa-bookmark" aria-hidden="false"
                  style="color:green;display:none;"></i></td>
            </tr>
            <tr>
              <th scope="row">Anil</th>
              <td class="eventDate" id="aniBirth"></td>
              <td class="eventDate" id="aniJob"></td>
              <td class="eventDate" id="aniMar"></td>
              <td class="eventDate" id="aniKid"></td>
              <td class="eventDate">N.A.&nbsp;<i id="unlock" class="fa fa-bookmark" aria-hidden="false"
                  style="color:green;display:none;"></i></td>
            </tr>
            <tr>
              <th scope="row">Prashant</th>
              <td class="eventDate" id="prBirth"></td>
              <td class="eventDate" id="prJob"></td>
              <td class="eventDate" id="prMar"></td>
              <td class="eventDate">N.A.&nbsp;<i id="unlock" class="fa fa-bookmark" aria-hidden="false"
                  style="color:green;display:none;"></i></td>
              <td class="eventDate">N.A.&nbsp;<i id="unlock" class="fa fa-bookmark" aria-hidden="false"
                  style="color:green;display:none;"></i></td>
            </tr>
            <tr>
              <th scope="row">Rahul</th>
              <td class="eventDate" id="rhBirth"></td>
              <td class="eventDate" id="rhJob"></i></td>
              <td class="eventDate" id="rhMar"></td>
              <td class="eventDate">N.A.&nbsp;<i id="unlock" class="fa fa-bookmark" aria-hidden="false"
                  style="color:green;display:none;"></i></td>
              <td class="eventDate">N.A.&nbsp;<i id="unlock" class="fa fa-bookmark" aria-hidden="false"
                  style="color:green;display:none;"></i></td>
            </tr>
            <tr>
              <th scope="row">Ravikant</th>
              <td class="eventDate" id="rvBirth"></td>
              <td class="eventDate" id="rvJob"></td>
              <td class="eventDate" id="rvMar"></td>
              <td class="eventDate" id="rvKid"></td>
              <td class="eventDate">N.A.&nbsp;<i id="unlock" class="fa fa-bookmark" aria-hidden="false"
                  style="color:green;display:none;"></i></td>
            </tr>
            <tr>
              <th scope="row">Sharad</th>
              <td class="eventDate" id="shBirth"></td>
              <td class="eventDate" id="shJob"></td>
              <td class="eventDate" id="shMar"></td>
              <td class="eventDate" id="shKid"></td>
              <td class="eventDate">N.A.&nbsp;<i id="unlock" class="fa fa-bookmark" aria-hidden="false"
                  style="color:green;display:none;"></i></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- <i class="fa fa-credit-card" aria-hidden="true"></i> -->
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <!-- <i class="fa fa-credit-card" aria-hidden="true"></i> -->
</body>

</html>