<!-- Success toast starts -->
<div class="toast" role="alert" aria-live="assertive" aria-atomic="true" id="snackbar"
  style="width: 300px; height:75px;">
      <div class="toast-header">
    <!--       <img src="{% static 'logo.jpg' %}" class="rounded mr-2" alt="..." style="width: 20px; height:20px;"> -->
          <strong class="mr-auto">Saved successfully . . .</strong>
        </div>
      <div class="toast-body">
           
        </div>
    </div>
<!-- Success toast ends --> 

<!-- Validation toast starts -->
<div class="toast" role="alert" aria-live="assertive" aria-atomic="true" id="errorbar"
style="width: 300px; height:75px;">
    <div class="toast-header">
  <!--       <img src="{% static 'logo.jpg' %}" class="rounded mr-2" alt="..." style="width: 20px; height:20px;"> -->
        <strong class="mr-auto">Please make sure to fill both amount and date . . .</strong>
      </div>
    <div class="toast-body">
         
      </div>
  </div>
<!-- Validation toast ends -->