{% extends 'basic2.html' %}
{% load static %}
{%block script%}
<script src="https://code.jquery.com/jquery-2.2.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link href="https://code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css" rel="stylesheet">
{%endblock%}

{% block todaysTurn%}
<button type="button" class="btn btn-light">Next?
  <span class="badge badge-light">{{ name }}</span>
</button>
{% endblock %}

{% block container %}
<div class="collapse container mx-auto my-auto" id="collapseExample">
  <div class="input-group mb-3 ml-3 alert-warning ">
    <!-- <form action="add" method="POST" id="form"> -->
    <form id="form">
      <!--<form action="/add" method="POST">-->
      {% csrf_token %}
      <input name="user" id="user" value="" style="display: none">
      <label id="user-name" value='' class="badge badge-warning"></label><br>
      <div class="input-group mb-3">
        <div class="input-group-prepend ml-3">
          <span class="input-group-text">&#8377;</span>
        </div>
        <input type="number" value='' name="amount" min="1" max="1000" class="quantity" placeholder="Kitta?" id="amt"
          required><br>
        <!-- <input type="date" name="date" id="date" value='' autocomplete="off" required> -->
        <input class="form-control datepicker" id="addDate" name="date_min" style="text-align: center"
          placeholder="Choose Date">
        <br>
        <div class="input-group-append">
          <span class="input-group-text">.00</span>
        </div>
        <input type="submit" value="Add" id="addAmount" class="btn btn-warning mx-4">
        <!-- onclick="chipkaDe(event) -->
      </div>
    </form>
  </div>
  <!-- Validation toast starts -->
  <div id="errorbar">Make sure to fill both amount and date . . .</div>
  <!-- Validation toast ends -->

  <!-- Search toast starts -->
  <div id="searchbar">Make sure to fill both 'from' and 'to' date . . .</div>
  <!-- Search toast ends -->

  <!-- Success toast starts -->
  <div id="snackbar">Successfully saved . . .</div>
  <!-- Success toast ends -->
</div>

<!-- Search Form -->
<main role="main" class="container my-3" id="details" style="display: none">

  <h6>Choose dates . . .</h6>
  <form id='search'>
    {% csrf_token %}
    <div class="row">
      <div class="form-group col-md-6 col-lg-6">
        <!-- <label for="fromDate">From</label> -->
        <!-- <input type="date" class="form-control" id="fromDate" name="date_min"> -->
        <input class="form-control datepicker" id="fromDate" name="date_min" style="text-align: center"
          placeholder="From Date">
      </div>
      <div class="form-group col-md-6 col-lg-6">
        <!-- <label for="toDate">To</label> -->
        <!-- <input type="date" class="form-control" id="toDate" name="date_max"> -->
        <input class="form-control datepicker" id="toDate" name="date_max" style="text-align: center"
          placeholder="To Date">
      </div>
    </div>
    <button type="submit" class="btn btn-dark">Search</button>
  </form>

  <br>

  <div class="row" id="search_results">
  </div>

</main>
<!-- Search form ends -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delta Details</h5>
      </div>
      <div class="modal-body">
        <!-- Modal body start -->
        <table class="table table-sm table-borderless table-striped">
          <thead>
            <tr class="tr-head">
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Contribution</th>
              <th scope="col">Delta</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td><span class="badge badge-warning mr-2 " id="amanCount"></span><strong>Aman</strong></td>
              <td id="aman_cont" class="contri"></td>
              <td id="aman_delta" class="delta"></td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td><span class="badge badge-warning mr-2 " id="anandCount"></span><strong>Anand</strong></td>
              <td id="anand_cont" class="contri"></td>
              <td id="anand_delta" class="delta"></td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td><span class="badge badge-warning mr-2 " id="anilCount"></span><strong>Anil</strong></td>
              <td id="anil_cont" class="contri"></td>
              <td id="anil_delta" class="delta"></td>
            </tr>
            <tr>
              <th scope="row">4</th>
              <td><span class="badge badge-warning mr-2 " id="prashantCount"></span><strong>Prashant</strong></td>
              <td id="prashant_cont" class="contri"></td>
              <td id="prashant_delta" class="delta"></td>
            </tr>
            <tr>
              <th scope="row">5</th>
              <td><span class="badge badge-warning mr-2 " id="rahulCount"></span><strong>Rahul</strong></td>
              <td id="rahul_cont" class="contri"></td>
              <td id="rahul_delta" class="delta"></td>
            </tr>
            <tr>
              <th scope="row">6</th>
              <td><span class="badge badge-warning mr-2 " id="sharadCount"></span><strong>Sharad</strong></td>
              <td id="sharad_cont" class="contri"></td>
              <td id="sharad_delta" class="delta"></td>
            </tr>
            <tr>
              <th scope="row">7</th>
              <td><span class="badge badge-warning mr-2 " id="shobhitCount"></span><strong>Shobhit</strong></td>
              <td id="shobhit_cont" class="contri"></td>
              <td id="shobhit_delta" class="delta"></td>
            </tr>
          </tbody>
        </table>
        <button class="alert alert-primary" id="sum"></button>
        <button class="alert alert-secondary" id="deltasum"></button>
        <!-- Modal body end -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}